<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
  <test thread-count="5" name="Test">
  <!-- Define suite level parameters -->
    <parameter name="dynamicUsername" value="${utils.UserData.getDynamicUsername()}" />
    <classes>
      <class name="tests.RegisterPageTest"/>
      <class name="tests.LogInPageTest"/>
      <class name="tests.LogOutPageTest"/>
      <class name="tests.OpenNewAccountPageTest"/>
      <class name="tests.TransferFundsPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
